	div.BodyDots {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

div > div.Dot1, div.Dot2, div.Dot3, div.Dot4, div.Dot5, div.Dot6
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 2vw;
  opacity : 50%
}

div.Dot1 {
	background-color: #ff3333;
	animation: resize 1.5s 0.5s linear infinite;
	animation-delay: 0.0s;
}
div.Dot2 {
	background-color: #ff9933;
	animation: resize 1.5s 0.5s linear infinite;
	animation-delay: 0.2s;
}
div.Dot3 {
	background-color: #ffff33;
	animation: resize 1.5s 0.5s linear infinite;
	animation-delay: 0.4s;
}
div.Dot4 {
	background-color: #4dff4d;
	animation: resize 1.5s 0.5s linear infinite;
	animation-delay: 0.6s;
}
div.Dot5 {
	background-color: #66ffff;
	animation: resize 1.5s 0.5s linear infinite;
	animation-delay: 0.8s;
}
div.Dot6 {
	background-color: #3355ff;
	animation: resize 1.5s 0.5s linear infinite;
	animation-delay: 1.0s;
}

@keyframes resize {
	0%, 50%, 100% {	transform: scale(1);	filter: blur(0px);	}
	25% {	transform: scale(0.5); filter: blur(1px);	}
	75% { filter: blur(2px); transform: scale(2.25);	}
}
